<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="index.css"/>
        <title>
            {% block title %}GHC{% endblock %}
        </title>
    </head>
    <body>
      <!--  <nav class="navbar navbar-expand bg-info">
            <div class="container flex-wrap justify-content-center justify-content-sm-between">
                <a class="navbar-brand" href="/">
                    <img src="/logo.svg" alt="Generic Hipster Coffee" height="150" width="150">
                </a>
                <div class="navbar-nav ">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/menu">Menu</a>
                    <a class="nav-link" href="/coffee">Coffee</a>
                    <a class="nav-link" href="/ourstory">Our Story</a>
                </div>
            </div>
        </nav> -->
        <main class="container">
            {% block content %}{% endblock %}

            <!-- <nav>
                <img src="/logo.svg" alt="" height="177" width="177">
                <ul>
                    <a href="/index.html">Home</a>
                    <a href="/menu.html">Menu</a>
                    <a href="/coffee.html">Coffee</a>
                    <a href="/ourstory.html">Our Story</a>
                </ul>
            </nav> -->
        </main>
        <footer class="bg-dark text-white">
            <div class="container">
                <div class="nav justify-content-center">
                    <a class="nav-link text-info {#active#}" {#aria-current="page"#} href="/">Home</a>
                    <a class="nav-link text-info" href="/menu">Menu</a>
                    <a class="nav-link text-info" href="/coffee">Coffee</a>
                    <a class="nav-link text-info" href="/ourstory">Our Story</a>
                </div>
            </div>
            <p class="h3 text-center">#hipstersmakecoffee</p>
            <p class="text-center">Follow us on <a href="https://twitter.com/home">Twitter</a>
 and <a href="https://www.instagram.com/">Instagram</a>
            </p>
        </footer>

    </body>
</html>