<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="index.css"/>
        <title>
            {% block title %}GHC{% endblock %}
        </title>
    </head>
    <body>
        <header class="navbar navbar-expand bg-light pt-0 pb-4">
            <nav class="container flex-wrap justify-content-center justify-content-sm-between px-4 pt-3">
                <a class="navbar-brand  m-0 pt-0 pb-2 pb-lg-2" href="/"> <!-- přidán mx-0, možná ovlivnín rozlišení na 1200 px-->
                    <img src="/logo.svg" alt="Generic Hipster Coffee" height="234" width="234" class="logo">
                </a>
                <div class="navbar-nav gap-md-3 gap-lg-4 pb-4">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" aria-current="page" href="/menu">Menu</a>
                    <a class="nav-link" href="/coffee">Coffee</a>
                    <a class="nav-link" href="/ourstory">Our Story</a>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block content %}{% endblock %}

        </main>
        <footer class="bg-dark text-light">
            <div class="container">
                <div class="nav justify-content-center gap-sm-4">
                    <a class="nav-link text-info active" aria-current="page" href="/">Home</a>
                    <a class="nav-link text-info" href="/menu">Menu</a>
                    <a class="nav-link text-info" href="/coffee">Coffee</a>
                    <a class="nav-link text-info" href="/ourstory">Our Story</a>
                </div>
            </div>
            <p class="h3 text-center">#hipstersmakecoffee</p>
            <p class="text-center">Follow us on <a href="https://twitter.com/home" class="text-info">Twitter</a>
 and <a href="https://www.instagram.com/" class="text-info">Instagram</a>
            </p>
        </footer>

    </body>
</html>