{% extends '_base.njk' %}

{% block title %}GHC - Home{% endblock %}

{% block content %}
    <h1 class="mt-lg-3 pt-lg-4">Generic Hipster Coffee</h1>
    <p class="h2 mb-4">Specialty coffee, fresh food &amp; local community</p>
    <img src="/counter.jpg" alt="" class="img-fluid mb-4">
    <div class="row gx-5">
        <div class="col-md">
            <h2 class="h4 mb-3">Opening Hours</h2>
            <p>sunday – thursday: 8:00 – 23:00
            <br>friday – saturday: 8:00 – 1:00</p>
        </div>
        <div class="col-md">
            <h2 class="h4 mb-3">Book a table</h2>
            <p>Call <a href="tel:+14153214567">+1 415-321-4567</a>
            </p>
        </div>
        <div class="col-md">
            <h2 class="h4 mb-3">Address</h2>
            <p>321 Ivy St.<br>San Francisco, CA 94102</p>
        </div>
    </div>
    <div class="home-bottom-image mt-n5">
        <img src="https://dummyimage.com/1092x614/000/fff&text=here+will+be+a+map" alt="" class="img-fluid overflow-visible">
    </div>
{% endblock %}