{% extends '_base.njk' %}

{% block title %}Menu | Generic Hipster Coffee{% endblock %}
{% block description %}Our menu offers espresso coffee, filter coffee and much more.{% endblock %}
{% block linkmenu %}active{% endblock %}
{% block linkmenufooter %}text-light{% endblock %}


{% block content %}
    <h1 class="mt-3 pt-4">Menu</h1>
    <div class="row">
        <div class="col-lg-5">
            <h2>Espresso Coffee</h2>
            <p class="d-flex justify-content-between gap-2">Espresso <span>3.8</span></p>
            <p class="d-flex justify-content-between gap-2">Double espresso <span>4.9</span></p>
            <p class="d-flex justify-content-between gap-2">Americano <span>5</span></p>
            <p class="d-flex justify-content-between gap-2">Espresso machiato<span>4.3</span></p>
            <p class="d-flex justify-content-between gap-2">Cappuccino <span>5.2</span></p>
            <p class="d-flex justify-content-between gap-2">Flat White <span>5.9</span></p>
            <p class="d-flex justify-content-between gap-2">Latte <span>5.9</span></p>
            <p class="d-flex justify-content-between gap-2">Extra shot <span>1.1</span></p>
        </div>
        <div class="col-lg-5 offset-lg-1">
            <h2>Filter Coffee</h2>
            <p class="d-flex justify-content-between gap-2">House Drip Coffee <span>4.5</span</p>
                <p class="d-flex justify-content-between gap-2">Aeropress <span>5.5</span></p>
                <p class="d-flex justify-content-between gap-2">V60 <span>6.5</span></p>
                <p class="d-flex justify-content-between gap-2">Kalita <span>12</span></p>

                <h2>Coffee Specialites</h2>
                <p class="d-flex justify-content-between gap-2">Cascara <span>4.9</span></p>
                <p class="d-flex justify-content-between gap-2">Irish coffee <span>10.9</span></p>
         </div>

            <div class="col-lg-5">
                <h2>Iced</h2>
                <p class="d-flex justify-content-between gap-2">Iced Latte <span>6.9</span></p>
                <p class="d-flex justify-content-between gap-2">Espresso on the rock <span>4.9</span></p>
                <p class="d-flex justify-content-between gap-2">Iced Cascara <span>5.5</span></p>
                <p class="d-flex justify-content-between gap-2">Affogato <span>5.9</span></p>
                <p class="d-flex justify-content-between gap-2">Iced Flat white <span>5.9</span></p>
                <p class="d-flex justify-content-between gap-2">Iced Filter <span>5.8</span></p>
                <p class="d-flex justify-content-between gap-2">Iced tea <span>4.9</span></p>
                <p class="d-flex justify-content-between gap-2">Iced chocolate <span>6.2</span></p>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h2>Hot</h2>
                <p class="d-flex justify-content-between gap-2">Tea <span>4.9</span></p>
                <p class="d-flex justify-content-between gap-2">Ginger tea <span>4.5</span></p>
                <p class="d-flex justify-content-between gap-2">Hot chocolate <span>4.5</span></p>
            </div>
            <div class="col-lg-5">
                <h2>Something To Eat</h2>
                <p class="d-flex justify-content-between gap-2">Soup of the day <span>5.8</span></p>
                <p class="d-flex justify-content-between gap-2">Chipotle Citrus Chicken Sandwich <span>5.4</span></p>
                <p class="d-flex justify-content-between gap-2">Avocado Toast <span>5.6</span></p>
                <p class="d-flex justify-content-between gap-2">Super BLT Sandwich <span>12.8</span></p>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h2>Sweets</h2>
                <p class="d-flex justify-content-between gap-2">Homemade cakes of the day <span>5</span></p>
                <p class="d-flex justify-content-between gap-2">Key Lime and Coconut <span>1.5</span></p>
                <p class="d-flex justify-content-between gap-2">Icecream <span>2</span></p>
                <p class="d-flex justify-content-between gap-2">Tiramisu <span>6</span></p>
                <br>
            </div>
            <div class="col-lg-12">
                <h2>Non-Alcoholic Beverages</h2>
            </div>

            <div class="col-lg-5">
                <h3>Lemonades</h3>

                <p class="d-flex justify-content-between gap-2">Fresh Squeezed Lemonade <span>5</span></p>
                <p class="d-flex justify-content-between gap-2">Ginger Lemonade <span>4.5</span></p>
                <p class="d-flex justify-content-between gap-2">Cascara Fizz Original <span>5.8</span></p>
                <p class="d-flex justify-content-between gap-2">Club-mate Cola <span>4.5</span></p>
                <p class="d-flex justify-content-between gap-2">Tonic Thomas Henry <span>4.3</span></p>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h3>Water</h3>

                <p class="d-flex justify-content-between gap-2">Sparkling <span>2.4</span></p>
                <p class="d-flex justify-content-between gap-2">Still <span>2.4</span></p>
            </div>
            <div class="col-lg-12">
                <h2>Alcoholic Beverages</h2>
            </div>

            <div class="col-lg-5">
                <h3>Beer</h3>

                <p class="d-flex justify-content-between gap-2">Small breweries on tap <span>3.5</span></p>
                <p class="d-flex justify-content-between gap-2">Birell (bottled) <span>3.5</span></p>
                <p class="d-flex justify-content-between gap-2">Cider Magnetic Apple <span>4.5</span></p>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h3>White Wine</h3>

                <p class="d-flex justify-content-between gap-2">Chardonnay Les Vignes de L'Arque,
France <span>3.5</span></p>
                <p class="d-flex justify-content-between gap-2">Sauvignon Blanc, Château Le Sartre
Blanc 2011 <span>3.8</span></p>

                <h3>Red Wine</h3>

                <p class="d-flex justify-content-between gap-2">Cuvée Côtes du Rhône Vigneros de
Caracterem <span>3.5</span></p>
                <p class="d-flex justify-content-between gap-2">Cabernet Sauvignon, Château Tour
du Roch-Milon 2011 <span>3.5</span></p>
            </div>
            <div class="col-lg-5">
                <h3>Cocktails</h3>

                <p class="d-flex justify-content-between gap-2">Gin Tonic <span>9</span></p>
                <p class="d-flex justify-content-between gap-2">Cuba Libre <span>9.9</span></p>
                <p class="d-flex justify-content-between gap-2">Mojito <span>9.9</span></p>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h3>Spirits</h3>

                <p class="d-flex justify-content-between gap-2">Metaxa 12* <span>7.5</span></p>
                <p class="d-flex justify-content-between gap-2">Tullamore Dew <span>6.5</span></p>
                <p class="d-flex justify-content-between gap-2">Jameson Whiskey <span>6.5</span></p>
                <p class="d-flex justify-content-between gap-2">Bombay, Añejo Suave <span>6.8</span></p>
                <p class="d-flex justify-content-between gap-2">Ron Cubay, Añejo Suave <span>6.5</span></p>
                <p class="d-flex justify-content-between gap-2">Tequila, El Jimador, Reposado <span>6.2</span></p>
                <p class="d-flex justify-content-between gap-2">Vodka Finlandia <span>5.5</span></p>
                <p class="d-flex justify-content-between gap-2">Bailey's <span>5.5</span></p>
                <p class="d-flex justify-content-between gap-2">Jagermeister <span>5.5</span></p>
                <p class="d-flex justify-content-between gap-2">Graham's Tawny Porto <span>4.7</span></p>
            </div>
        </div><img src="/espresso-machine-detail.jpg" alt="" class="mb-n4 ratio ratio-16x9">
    {% endblock %}