{% extends '_base.njk' %}

{% block title %}GHC - Menu{% endblock %}

{% block content %}
<nav class="navbar navbar-expand bg-light">
            <div class="container flex-wrap justify-content-center justify-content-sm-between">
                <a class="navbar-brand" href="/">
                    <img src="/logo.svg" alt="Generic Hipster Coffee" height="150" width="150">
                </a>
                <div class="navbar-nav ">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" aria-current="page" href="/menu">Menu</a>
                    <a class="nav-link" href="/coffee">Coffee</a>
                    <a class="nav-link" href="/ourstory">Our Story</a>
                </div>
            </div>
        </nav>
    <h1>Menu</h1>
    <div class="row">

        <div class="col-lg-6">
            <h2>Espresso Coffee</h2>
            <p class="d-flex justify-content-between gap-2">Espresso Espresso Espresso Espresso Espresso Espresso Espresso<span>3.8</span></p>
            <p class="d-flex justify-content-between gap-2">Espresso Espresso Espresso Espresso Espresso Espresso Espresso<span>100.8</span></p>
            <p class="d-flex justify-content-between gap-2">Double espresso <span>4.9</span></p>
            <p class="d-flex justify-content-between gap-2">Americano <span>5</span></p>
            <p class="d-flex justify-content-between gap-2">Espresso machiato Espresso machiato Espresso machiato Espresso machiato Espresso machiato Espresso machiato<span>4.3</span></p>
            <p class="d-flex justify-content-between gap-2">Cappuccino <span>5.2</span></p>
            <p class="d-flex justify-content-between gap-2">Flat White <span>5.9</span></p>
            <p class="d-flex justify-content-between gap-2">Latte <span>5.9</span></p>
            <p class="d-flex justify-content-between gap-2">Extra shot <span>1.1</span></p>
        </div>

        <div class="col-lg-6">
            <h2>Filter Coffee</h2>
            <p>House Drip Coffee 4.5</p>
            <p>Aeropress 5.5</p>
            <p>V60 6.5</p>
            <p>Kalita 12</p>

            <h2>Coffee Specialites</h2>
            <p>Cascara 4.9</p>
            <p>Irish coffee 10.9</p>
        </div>

        <div class="col-lg-6">
            <h2>Iced</h2>
            <p>Iced Latte 6.9</p>
            <p>Espresso on the rock 4.9</p>
            <p>Iced Cascara 5.5</p>
            <p>Affogato 5.9</p>
            <p>Iced Flat white 5.9</p>
            <p>Iced Filter 5.8</p>
            <p>Iced tea 4.9</p>
            <p>Iced chocolate 6.2</p>
        </div>

        <div class="col-lg-6">
            <h2>Hot</h2>
            <p>Tea 4.9</p>
            <p>Ginger tea 4.5</p>
            <p>Hot chocolate 4.5</p>
        </div>

        <div class="col-lg-6">
            <h2>Something To Eat</h2>
            <p>Soup of the day 5.8</p>
            <p>Chipotle Citrus Chicken Sandwich 5.4</p>
            <p>Avocado Toast 5.6</p>
            <p>Super BLT Sandwich 12.8</p>
        </div>

        <div class="col-lg-6">
            <h2>Sweets</h2>
            <p>Homemade cakes of the day 5</p>
            <p>Key Lime and Coconut 1.5</p>
            <p>Icecream 2</p>
            <p>Tiramisu 6</p>
            <br>
        </div>

        <div class="col-lg-12">
            <h2>Non-Alcoholic Beverages</h2>
        </div>

        <div class="col-lg-6">
            <h3>Lemonades</h3>

            <p>Fresh Squeezed Lemonade 5</p>
            <p>Ginger Lemonade 4.5</p>
            <p>Cascara Fizz Original 5.8</p>
            <p>Club-mate Cola 4.5</p>
            <p>Tonic Thomas Henry 4.3</p>
        </div>

        <div class="col-lg-6">
            <h3>Water</h3>

            <p>Sparkling 2.4</p>
            <p>Still 2.4</p>
        </div>

        <div class="col-lg-12">
            <h2>Alcoholic Beverages</h2>
        </div>

        <div class="col-lg-6">
            <h3>Beer</h3>

            <p>Small breweries on tap 3.5</p>
            <p>Birell (bottled) 3.5</p>
            <p>Cider Magnetic Apple 4.5</p>
        </div>

        <div class="col-lg-6">
            <h3>White Wine</h3>

            <p>Chardonnay Les Vignes de L'Arque,
France 3.5</p>
            <p>Sauvignon Blanc, Château Le Sartre
Blanc 2011 3.8</p>

            <h3>Red Wine</h3>

            <p>Cuvée Côtes du Rhône Vigneros de
Caracterem 3.5</p>
            <p>Cabernet Sauvignon, Château Tour
du Roch-Milon 2011 3.5</p>
        </div>

        <div class="col-lg-6">
            <h3>Cocktails</h3>

            <p>Gin Tonic 9</p>
            <p>Cuba Libre 9.9</p>
            <p>Mojito 9.9</p>
        </div>

        <div class="col-lg-6">
            <h3>Spirits</h3>

            <p>Metaxa 12* 7.5</p>
            <p>Tullamore Dew 6.5</p>
            <p>Jameson Whiskey 6.5</p>
            <p>Bombay, Añejo Suave 6.8</p>
            <p>Ron Cubay, Añejo Suave 6.5</p>
            <p>Tequila, El Jimador, Reposado 6.2</p>
            <p>Vodka Finlandia 5.5</p>
            <p>Bailey's 5.5</p>
            <p>Jagermeister 5.5</p>
            <p>Graham's Tawny Porto 4.7</p>
        </div>
    </div>

    <img src="/espresso-machine-detail.jpg" alt="" class="img-fluid">

{% endblock %}