body {
    background-image: url(design-mobile320.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
}
body > * {
    mix-blend-mode: difference;
}
/*
body {
    background-image: url(design-desktop1200.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
}
body > * {
    mix-blend-mode: difference;
}
*/
h1,
h2,
h3,
.h1,
.h2,
.h3 {
    text-transform: uppercase;
    letter-spacing: 0.07em;
}
@media only screen and (min-width: 300px) {
    .logo {
        height: 180px;
        width: 180px;
    }
}
@media only screen and (min-width: 520px) {
    .logo {
        height: 240px;
        width: 240px;
    }
}
