/*
body {
    background-image: url(design-mobile320.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 6px;
}
body > * {
    mix-blend-mode: difference;
}

body {
    background-image: url(design-desktop1200.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 5px;
}
body > * {
    mix-blend-mode: exclusion;
}
*/
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    text-transform: uppercase;
    letter-spacing: 0.07em;
}
@media only screen and (min-width: 300px) {
    .logo {
        height: 180px;
        width: 180px;
    }
}
@media only screen and (min-width: 520px) {
    .logo {
        height: 240px;
        width: 240px;
    }
}
.home-bottom-image{
    position: relative;
    top: 40px;
}